<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

    <div class="container">
      <form action="" method="POST" class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName4" name="nombre" value="<%= (typeof old != "undefined" && old.nombre ? old.nombre : null) %>">
          <span class="text-danger"><%= (typeof errores != "undefined" && errores.nombre ? errores.nombre.msg : null) %></span>
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" name="email" value="<%= (typeof old != "undefined" && old.email ? old.email : null) %>">
          <span class="text-danger"><%= (typeof errores != "undefined" && errores.email ? errores.email.msg : null) %></span>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" name="pass">
          <span class="text-danger"><%= (typeof errores != "undefined" && errores.pass ? errores.pass.msg : null) %></span>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Repite tu contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" name="pass2">
          <span class="text-danger"><%= (typeof errores != "undefined" && errores.pass2 ? errores.pass2.msg : null) %></span>
        </div>
        
          <div class="form-check col-12">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="bases" value="off">
            <label class="form-check-label" for="gridCheck">
              Acepto bases y condiciones
            </label>
          </div>
          <br>
            <span class="text-danger"><%= (typeof errores != "undefined" && errores.bases ? errores.bases.msg : null) %></span>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Registrarme</button>
          </div>
        </div>
        
      </form>
    </div>

      <%- include("partials/footer") %>
  </body>

</html>